[submodule "vendor/Karabiner-DriverKit-VirtualHIDDevice"]
	path = vendor/Karabiner-DriverKit-VirtualHIDDevice
	url = https://github.com/pqrs-org/Karabiner-DriverKit-VirtualHIDDevice.git
[submodule "vendor/cpm-cmake-package-lock"]
	path = vendor/cpm-cmake-package-lock
	url = https://github.com/pqrs-org/cpm-cmake-package-lock.git
