<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>             <string>org.pqrs.karabiner.karabiner_console_user_server</string>
    <key>Disabled</key>          <true/>
    <key>RunAtLoad</key>         <true/>
    <key>KeepAlive</key>         <true/>

    <key>ProgramArguments</key>
    <array>
      <string>/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_console_user_server</string>
    </array>
  </dict>
</plist>
