name: Karabiner-Elements CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - vendor/cpm-cmake-package-lock
  pull_request:

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Xcode 26
        run: sudo xcode-select -s /Applications/Xcode_26.0.app

      - name: brew install
        run: brew install xcodegen
      - name: package
        run: make package
      - name: appendix
        run: ruby scripts/reduce-logs.rb 'make -C appendix'
      - name: tests
        run: ruby scripts/reduce-logs.rb 'make -C tests'
